body {
  /* background-image: url('../../public/static/images/backgound.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; */
}